.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #222;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    padding: 120px 0;
    border: 2px solid red;
}

.home-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-content p {
    width: 100%;
    font-size: 1.2rem;
    margin: 13px auto;
}

.content-detail {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.packing-boxes {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.content-detail img {
    width: 250px;
    height: 250px;
    border-radius: 18px;
}

.fabric-list {
    gap: 1rem;
    width: 31.1%;
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.fabric-list li {
    color: #222;
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
    background: #fff;
    padding: 8px;
    border-radius: 18px;
}
